body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;


}

body::selection {
    background-color: rgb(109, 196, 230);
}

.nav-item:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.img-fluid {
    width: 100%;
    height: auto;

}

.contactUs {
    margin-top: 0.2em;
    position: relative;

}

.contactUs:hover {
    color: rgb(255, 255, 255);
}

.container-fluid {
    text-align: right;
    justify-content: right;
    align-items: right;
}

.navbar-nav {
    justify-content: flex-start;
    display: none;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 10em;
    height: auto;
    position: relative;
    z-index: 1;
}
#searchInput2 {
    display: none;
  }
  
  #submitBtn2 {
    display: none;
  }
  
  #searchInput3 {
    display: none;
  }
  
  #submitBtn3 {
    display: none;
  }
  
  .searchBar {
    display: flex;
    position: relative;
    align-items: flex-start;
  }

@media(max-width: 768px){
    .loginIcon {
        display: none;
        position: relative;
        left: 0.5em;
      }
    
      #searchInput1 {
        display: none;
      }
    
      #submitBtn1 {
        display: none;
      }
    
      #searchInput3 {
        display: none;
      }
    
      #submitBtn3 {
        display: none;
      }
    
      #searchInput2 {
        display: block;
      }
    
      #submitBtn2 {
        display: block;
      }
    
      .loginIcon2 {
        display: flex;
        position: relative;
      }
}









@media (max-width: 600px) {

    .loginIcon {
      display: none;
    }
  
  
    #searchInput1 {
      display: none;
    }
  
    #submitBtn1 {
      display: none;
    }
  
    #searchInput2 {
      display: none;
    }
  
    #submitBtn2 {
      display: none;
    }
  
    #searchInput3 {
      display: block;
      position: relative;
      margin-top: 1.1em;
    }
  
    #submitBtn3 {
      display: block;
      position: relative;
      margin-top: 1.1em;
    }
}